/* Error: Expected identifier.
 *    ,
 * 75 | $2xl: 1536px;
 *    |  ^
 *    '
 *   variables.scss 75:2  @use
 *   mixins.scss 1:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 75 \2502  $2xl: 1536px;\a    \2502   ^\a    \2575 \a   variables.scss 75:2  @use\a   mixins.scss 1:1      root stylesheet";
}
